---
layout: archive
---
<h3>Fachgruppen des Departments:</h3>
<hr>
<ul>
  <li><a tagrte="_blank" href="https://algebra.mathematik.uni-siegen.de/">Algebra, Diskrete Optimierung, Geometrie & Zahlentheorie</a></li>
  <li><a target="_blank" href="https://www.uni-siegen.de/fb6/aan/">Angewandte Analysis & Numerik</a></li>
  <li><a target="_blank" href="https://www.uni-siegen.de/fb6/didaktik/">Didaktik der Mathematik</a></li>
  <li><a target="_blank" href="https://www.uni-siegen.de/fb6/phima/">Philosophie & Geschichte der Mathematik</a></li>
  <li><a target="_blank" href="https://www.uni-siegen.de/fb6/src/">Stochastik</a></li>
</ul>
